<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container" style="padding: 3% 0 0;">
    <div class="card mb-4" style="border-radius: 20px;">
        <div class="card-custom-header">
            <div class="display-flex align-center">
                <!--<h6 class="m-0 success">Capsules</h6>-->
                <button onclick="location.href = '/post/new'" class="btn btn-md" style="color: #76b852">캡슐
                    만들기
                </button>
                <button onclick="location.href = '/user/signout'" class="btn btn-md" style="color: #76b852;">
                    나가기
                </button>
                <div class="ml-auto display-flex align-center">
                    <form th:action="@{/post/body/search}" role="form">
                        <div class="input-group">
                            <input type="text" name="body" id="body" class="form-control">
                            <button class="btn btn-outline-primary" type="submit">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body" style="height: 650px;">
            <table class="table" style="table-layout: fixed">
                <thead style="color: #76b852">
                <tr>
                    <th style="width: 25%;">날짜</th>
                    <th style="width: 35%;">제목</th>
                    <th style="width: 20%;" class="table-center-align">작성자</th>
                    <th style="width: 20%;" class="table-center-align">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${#temporals.format(post.postDate, 'yyyy년 MM월 dd일')}"></td>
                    <td th:text="${post.title}" class="text-truncate"></td>
                    <td th:text="${post.writer}"
                        class="text-truncate table-center-align"></td>
                    <td th:text="${post.viewCount}"
                        class="text-truncate table-center-align"></td>
                </tr>
                </tbody>
            </table>

            <!-- 참고 사이트
            https://ivvve.github.io/2019/01/13/java/Spring/pagination_4/
            posts.number = 이전 페이지
            posts.number+1 = 현재 페이지
            posts.number+2 = 다음 페이지
            -->
            <nav>
                <ul class="hc pagination"
                    th:with="start=${T(Math).floor(posts.number/10)*10 + 1},
                    last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages}),
                    last=(${last == 0 ? 1 : last})"
                    th:style="'width: ' + ((${last - start} + 3) * 45 ) + 'px'">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="${posts.first} ? '#' : @{/post/body/search(body=${saved},page=${posts.number})}"
                           aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page : ${#numbers.sequence(start, last)}">
                        <a class="page-link"
                           th:style="${page == posts.number + 1} ? 'color: #307df6'"
                           th:text="${page}" th:href="@{/post/body/search(body=${saved},page=${page})}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="${posts.last} ? '#' : @{/post/body/search(body=${saved},page=${posts.number+2})}"
                           aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>