<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container" style="padding: 3% 0 0;">
    <div class="card shadow mb-4">

        <form role="form" action="/post/create" th:object="${postForm}" method="post">
            <div class="card-header py-3">
                <div class="display-flex align-center">
                    <h6 class="m-0 font-weight-bold text-success">Today's Capsule</h6>
                    <div class="ml-auto display-flex align-center">
                        <button type="submit" class="btn btn-md btn-success ml-2">Create</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label th:for="title" class="m-0 font-weight-bold text-success">제목</label>
                    <input type="text" th:field="*{title}" class="form-control">
                </div>

                <div class="form-group">
                    <label th:for="body" class="m-0 font-weight-bold text-success">내용</label>
                    <textarea type="text" th:field="*{body}" class="form-control" rows="10"></textarea>
                </div>
            </div>
        </form>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>