<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" th:object="${signupForm}" th:action="@{/user/signup}" th:method="post">
            <input th:field="*{username}" type="text" placeholder="username"/>
            <input th:field="*{password}" type="password" placeholder="password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="/user/signin">Sign In</a></p>
        </form>
    </div>
</div>

<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>